<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <label class="label"><i class="fas fa-user"></i></label>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Username' %>

  <label class="label"><i class="fas fa-envelope"></i></label>
  <%= f.email_field :email, class: 'form-control', placeholder: :email %>

  <label class="label"><i class="fas fa-lock"></i></label>
  <%= f.password_field :password, class: 'form-control', placeholder: :password %>

  <label class="label"><i class="fas fa-lock"></i></label>
  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: :password_confirmation %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>