
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.name, user %>
      <h5> Books: <%= user.books.where("status = ?", "owned").count %> </h5>
      <h5> Wishlist: <%= user.books.where("status = ?", "wishlist").count %></h5>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
