<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <!--<button id="addBook" class="btn btn-primary center-block"> Add Book </button>-->
    <% if logged_in? %>
      <div id="bookForm">
        <%= render 'books/form', provide(:url, user_books_path(@user)) %>
      </div>
    <% end %>
  </div>
  <div class="col-md-12">
  <% if @user.books.any? %>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <% if @current_user == @user %>
          <th>Edit</th>
          <th>Delete</th>
        <% end %>
      </tr>
      <% @books.each do |book| %>
        <tr>
          <th><%= book.title %></th>
          <th><%= book.author %></th>
          <% if @current_user == @user %>
            <th><%= link_to "Edit", edit_user_book_path(@current_user.id) %></th>
            <th><%= link_to "", user_book_path(book), method: :delete, class: "fas fa-trash" %></th>
          <% end %>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @books %>
  <% end %>
  </div>
</div>