<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h5> Number of Books: <%= @user.books.where("status = ?", "owned").count %> </h5>
      <h5> Wishlist Books: <%= @user.books.where("status = ?", "wishlist").count %></h5>
    </section>
  </aside>
  <div class="col-md-8">
    <% if logged_in? && @current_user.id == @user.id %>
      <button class="btn btn-primary center-block showForm"> Add Book </button>
      <button class="btn btn-danger hideForm">X</button>
      <div class="bookForm">
        <%= render 'books/form', provide(:url, user_books_path(@user)) %>
      </div>
    <% end %>
  </div>
  <div class="col-md-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link" id="owned-tab" data-toggle="tab" href="#owned" role="tab" aria-controls="owned" aria-selected="true">Owned</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="wishlist-tab" data-toggle="tab" href="#wishlist" role="tab" aria-controls="wishlist" aria-selected="false">Wishlist</a>
      </li>
    </ul>
  <% if @user.books.any? %>
  <div class="table tab-content" id="myTabContent">
    <div class="tab-pane active" id="owned" role="tabpanel" aria-labelledby="owned-tab" >
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <% if @current_user == @user %>
              <th>Edit</th>
              <th>Delete</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.author %></td>
              <% if @current_user == @user %>
                <td><%= link_to "", edit_user_book_path(user_id: @current_user.id, id: book.id), class: "fas fa-edit" %></td>
                <td><%= link_to "", user_book_path(user_id: @current_user.id, id: book.id), method: :delete, class: "fas fa-trash", data: {confirm: "Are you sure?"} %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <%= will_paginate @books %>
      </table>
    </div> <!-- End of Owned tab -->

    <div class="tab-pane" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <% if @current_user == @user %>
              <th>Edit</th>
              <th>Delete</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @wishlist.each do |book|%>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.author %></td>
              <% if @current_user == @user %>
                <td><%= link_to "", edit_user_book_path(user_id: @current_user.id, id: book.id), class: "fas fa-edit" %></td>
                <td><%= link_to "", user_book_path(user_id: @current_user.id, id: book.id), method: :delete, class: "fas fa-trash", data: {confirm: "Are you sure?"} %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <% will_paginate @wishlist %>
      </table>
    </div> <!-- End of Wishlist tab -->
  <% end %>
  </div>
</div>
</div>

